#header {width:727px;height:108px;margin:0 auto;padding:0 39px 0 0;background:url(../img/header/header5.jpg) no-repeat}
.logo {margin:42px 0 0 44px}
#header img.floatr {margin:57px 0 0 30px}
#menu {width:722px;height:274px;margin:0 auto;padding:5px 44px 0 0;background:url(../img/header/header6.jpg) no-repeat}